/* text area sizing */
.new-tweet > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* text area + title positioning */
.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* text area internals */
.new-tweet textarea {
  display: flex; 
  border-style: none; 
  resize: none;
  border-bottom: 5px solid #3a3832 ;
  font-weight: 700;
  background-color: inherit;
  width: 100%;
  color: #3a3832;
}

/* submit button and counter positioning */
.new-tweet div {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 2.5%;
}

/* submit button */
.new-tweet button {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #f4f1ec;
}

/* word counter */
.counter {
  display: flex;
  font-family: Bungee, sans-serif;
  justify-content: flex-end;
  color: #3a3832;
}

/* empty and over limit error */
.tweet-error {
  display: flex;
  color: red;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
}