/* tweet area + tweets main body container */
.container {
  display: flex;
  flex-direction: column;
}

/* tweet boxes orientation and font */
.tweets {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: 'Bungee', cursive; 
}

/* tweet box shadow */
.tweetPost:hover{
  box-shadow: 7px 7px #757575;
}


/* tweet box Main form */
.tweets article {
  display: flex; 
  resize: none;
  border-bottom: 5px solid #3a3832 ;
  font-weight: 700;
  background-color: inherit;
  width: 90%;
  color: #3a3832;
  flex-wrap: wrap;
  margin-top: 1.5%;
  margin-left: 5%;
  margin-bottom: 2.5%;
}

/* Inputed Texts format */
.tweets article p {
  word-wrap: break-word;
  text-align: left;
  max-width: 100%;
  margin: auto;
  margin-left: 0px;
}

/* tweetbox border */
.tweetPost {
  flex-wrap: wrap;
  border-radius: 25px;
  border-style: solid;
}

/* Tweets header with image, display name and username */
.tweetHeader {
  display: flex;
  flex-direction: row;
  background: none;
  width: 100vw;
  padding-left: 5%;  
  padding-right: 5%;
  padding-top: 5%

}
/* Name */
.name {
  display: flex;
  font-size: small;
}

/* Username or Handle */
.username {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  word-wrap: break-word;
  width: 100%;

  color: transparent;
}

/* hover for shadow for username */
.tweetPost:hover .username {
  animation: color-change 5s infinite ease-in;
  /* color: #808080; */
  text-shadow: 2px 2px black;
}

/* Profile Image */
.profileImage {
  display: flex;
}


/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-right: 8%;
  padding-left: 8%;
  margin-bottom: 5%;
  font-size: small;
}

@keyframes color-change {
  0% { color: rgb(142, 219, 255); }
  50% { color: rgb(255, 170, 241); }
  100% { color: rgb(134, 250, 192); }

}