.container {
  display: flex;
  flex-direction: column;
}

.tweets {
  display: flex;
  flex-direction: column;
  border-style: solid;
  height: 200px;
  margin-top: 2%;
  font-family: 'Bungee', cursive; 
}

.tweets:hover {
  box-shadow: 7px 7px #757575;
}